

.custom-navbar {
    background-color: #343a40 !important;
    padding: 10px 0;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.custom-navbar .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.custom-navbar .nav-link-custom {
    font-size: 1rem;
    color: #ffffff !important;
    margin-left: 15px;
}

.custom-navbar .nav-link-custom:hover {
    text-decoration: underline;
}
