.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem; 
    color: #f8b400;
}

.rating span {
    display: flex;
    align-items: center;
}

.rating-text {
    color: #666; 
    font-size: 1rem;
    margin-left: 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.rating-text:hover {
    color: #000; 
    font-weight: bold;
}
